.panel.panel-default
  .panel-heading 
      h2 Provincias > Editar
    .panel-body
      form(method='post',action='/stateUpdate', role='form')
        .form-group
          input(type='hidden',name='id',id='id', value='#{state.id}')

          label(for='name') Nombre:
          input.form-control(type='text',name='name',id='name', value='#{state.name}', placeholder="Nombre")

        .form-group.navbar-right.buttonsForms
          input.btn(type='button',name='cancel',value='Cancelar')
          input.btn.btn-default(type='submit',name='submit',value='Guardar')