.panel.panel-default
  .panel-heading 
      h2 Provincias > Nueva
    .panel-body
      form(role="form", method='post',action='/stateSave')

        .form-group
          label(for='name') Nombre:
          input.form-control(type='text',name='name',id='name', placeholder="Nombre")

        .form-group.navbar-right.buttonsForms
          input.btn(type='button',name='cancel',value='Cancelar')
          input.btn.btn-default(type='submit',name='submit',value='Guardar')