extends layout
block content
  .panel.panel-default
    .panel-heading 
      h3 Acerca de 

    .panel-body
       i.fa.fa-archive.fa-fw.fa-2x
       .line Inventario Oseo
       .line Sistema para la gestión de Inventarios Oseos.