.panel.panel-default
  .panel-body
    .errorPanel
      .errorLeft
        i.fa.fa-quote-left.fa-fw.fa-lg 
      .errorCenter
        h1 404
      .errorRight
        i.fa.fa-quote-right.fa-fw.fa-lg 

       .line La Pagina que desea acceder no existe.