body {
    padding: 0%;
    margin: 0%;
    font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
}
#menu {
    width: 100%;
    background-color: #6397ff;
    height: 3em;
}
#menu li {
    display: inline
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#menu li {
    float: left;
}
#menu a {
    display: block;
    width: 60px;
}