.panel.panel-default
  .panel-heading 
    h2 IO > Listado de Inventarios
  .panel-body
    form.navbar-form.navbar-left(role="search", method='post',action='/dependency')
      .form-group
        input(type='hidden',name='model',id='model', value='#{model}')
        input.form-control(type="text", placeholder="Nombre", name='name',id='name')
        button.btn.btn-default(type="submit", name="submit") Buscar

    a.btn.btn-default.navbar-right(type="button", href="/dependencyNew/#{model}")
        i.fa.fa-pencil.fa-fw.fa-lg
        | Crear Inventario

    table.table
      thead
        tr
          th Nombre
          th Acciones
      tbody
        each val, i in states
          tr(class=(i % 2 == 0) ? 'odd' : 'even') 
            td= val.ficharesumen
            td
              a(href="/ioEdit/#{val.id}")
                i.fa.fa-edit.fa-fw.fa-lg(data-toggle="tooltip", title="Editar")